<div class="container-fluid">
    <app-page-title title="Commandes en cours" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input type="text" class="form-control" autocomplete="off" id="searchTableList"
                                           placeholder="Rechercher..." [(ngModel)]="term"
                                           (ngModelChange)="searchOrder()">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 d-flex align-items-center justify-content-end gap-3">

                            <div class="col-sm-4">
                                <select class="form-select">
                                    <option>Filtrer par..</option>
                                    <option>Large select</option>
                                    <option>Small select</option>
                                </select>
                            </div>

                            <div class="text-sm-end refresh-btn">

                                <button type="button"
                                        class="btn  btn-rounded mb-2 me-2"
                                        [ngClass]="{'btn-success': isSuccess, 'btn-dark': !isSuccess}"
                                        (click)="onButtonClick();refreshOderData()">
                                    <ng-container *ngIf="isSuccess">
                                        <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i>
                                    </ng-container>
                                    <ng-container *ngIf="!isSuccess">
                                        <i class="bx bx-check-double font-size-16 align-middle me-2"></i>
                                    </ng-container>
                                    Rafraichir
                                </button>

                            </div>

                            <div class="text-sm-end">
                                <button type="button" class="btn btn-success btn-rounded mb-2 me-2"
                                        (click)="showModal.show()"><i class="mdi mdi-plus mr-1"></i>
                                    Add New Order
                                </button>
                            </div>
                        </div><!-- end col-->
                    </div>


                    <!-- Table data -->
                    <div class="table-responsive mb-0">
                        <table class="table align-middle table-nowrap dt-responsive nowrap w-100 table-check"
                               id="order-list">
                            <thead class="table-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="form-check font-size-16 align-middle">
                                        <input class="form-check-input" type="checkbox" id="transactionCheck01"
                                               [(ngModel)]="masterSelected" (change)="checkUncheckAll($event)">
                                        <label class="form-check-label" for="transactionCheck01"></label>
                                    </div>
                                </th>
                                <th class="align-middle">ID Commande</th>
                                <th class="align-middle">Date de la commande</th>
                                <th class="align-middle">Total de la commande</th>
                                <th class="align-middle">Statut de la commande</th>
<!--                                <th class="align-middle">Statut de paiement</th>-->
                                <th class="align-middle">Détails de la commande</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr *ngFor="let data of orderlist; index as i" [attr.id]="'o_' + data.user_id">
                                <td>
                                    <div class="form-check font-size-16">
                                        <input
                                                class="form-check-input"
                                                type="checkbox"
                                                [id]="'transactionCheck' + i"
                                                [value]="data.user_id"

                                        />
                                        <label class="form-check-label" [for]="'transactionCheck' + i"></label>
                                    </div>
                                </td>

                                <td>
                                    <a href="javascript:void(0);" class="text-body fw-bold">{{ data.order_key }}</a>
                                </td>

                                <td>
                                    {{ data.date_created  | date}}
                                </td>

                                <td>
                                    {{ data.total }} {{ data.currency }}
                                </td>

                                <td>
                                  <span
                                          class="badge badge-pill font-size-11"
                                          [ngClass]="{
                                      'badge-soft-danger': data.status === 'failed' || data.status === 'canceled',
                                      'badge-soft-warning': data.status === 'pending' || data.status === 'on-hold' || data.status === 'refunded' || data.status === 'draft',
                                      'badge-soft-success': data.status === 'processing' || data.status === 'completed'
                                    }"
                                  >
                                    {{ data.status }}
                                  </span>
                                </td>

<!--                                <td>-->
<!--                                  <span-->
<!--                                          class="badge badge-pill font-size-11"-->
<!--                                          [ngClass]="{-->
<!--                                      'badge-soft-danger': data.status === 'Chargeback',-->
<!--                                      'badge-soft-warning': data.status === 'Refund',-->
<!--                                      'badge-soft-warning': data.status === 'pending',-->
<!--                                      'badge-soft-success': data.status === 'Paid'-->
<!--                                    }"-->
<!--                                  >-->
<!--                                    {{ data.status }}-->
<!--                                  </span>-->
<!--                                </td>-->


                                <td>
                                    <button
                                            (click)="showDetailsOrder(data.user_id.toString()); openViewModal(ViewContent)"
                                            type="button"
                                            class="btn btn-primary btn-sm btn-rounded"
                                    >
                                        Voir la commande
                                    </button>
                                </td>
                            </tr>
                            </tbody>


                        </table>
                    </div>
                    <!-- end table -->
                    <ul class="pagination pagination-rounded justify-content-end mb-2">
                        <pagination [totalItems]="orderlist?.length" [itemsPerPage]="8"
                                    (pagechanged)="pagechanged($event)"></pagination>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- View Details Model -->
<ng-template #ViewContent role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0" id="orderdetailsModalLabel">Detail de la commande</h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modalRef?.hide()"></button>
    </div>

    <div class="modal-body" *ngIf="detailsOrder">
        <h6 class="modal-title mt-2 mb-3 ">Information sur la livraison</h6>

        <p class="mb-2" [ngClass]="{'placeholder-wave': !detailsOrder.date_created}">
            Date de la commande:
            <span class="list-id text-primary" [ngClass]="{'placeholder col-4': !detailsOrder.date_created}">
            {{ detailsOrder.date_created | date }}
        </span>
        </p>

        <p class="mb-2" [ngClass]="{'placeholder-wave': !detailsOrder.id}" id="orderlist-overview">
            ID de la commande:
            <span class="list-id text-primary" [ngClass]="{'placeholder col-4': !detailsOrder.id}">
            {{ detailsOrder.order_key }}
        </span>
        </p>

        <p class="mb-2" [ngClass]="{'placeholder-wave': !detailsOrder.billing.firstname}">
            Nom et Prenom:
            <span class="orderlist-customer text-primary"
                  [ngClass]="{'placeholder': !detailsOrder.billing.firstname}">
            {{ detailsOrder.billing.firstname }} {{ detailsOrder.billing.lastname }}
        </span>
        </p>

        <p class="mb-2" [ngClass]="{'placeholder-wave': !detailsOrder.billing.email}">
            Email:
            <span class="orderlist-customer text-primary" [ngClass]="{'placeholder': !detailsOrder.billing.email}">
            {{ detailsOrder.billing.email }}
        </span>
        </p>

        <p class="mb-2" [ngClass]="{'placeholder-wave': !detailsOrder.billing.postcode}">
            Code postal:
            <span class="orderlist-customer text-primary" [ngClass]="{'placeholder': !detailsOrder.billing.postcode}">
            {{ detailsOrder.billing.postcode }}
        </span>
        </p>

        <p class="mb-2" [ngClass]="{'placeholder-wave': !detailsOrder.billing.phone}">
            Telephone:
            <span class="orderlist-customer text-primary" [ngClass]="{'placeholder': !detailsOrder.billing.phone}">
            {{ detailsOrder.billing.phone }}
        </span>
        </p>

        <p class="mb-4" [ngClass]="{'placeholder-wave': !detailsOrder.billing.city || !detailsOrder.billing.address_1}">
            Adresse:
            <span class="orderlist-customer text-primary"
                  [ngClass]="{'placeholder': !detailsOrder.billing.city || !detailsOrder.billing.address_1}">
            {{ detailsOrder.billing.city }} {{ detailsOrder.billing.address_1 }}
        </span>
        </p>

        <div class="table-responsive">
            <table class="table table-centered table-nowrap">
                <thead>
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Nom de produit</th>
                    <th scope="col">Prix</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let items of detailsOrder.line_items">
                    <th scope="row">
                        <div>
                            <img [src]="items.image" alt class="avatar-sm"/>
                        </div>
                    </th>
                    <td>
                        <div>
                            <h5 class="text-truncate font-size-14">{{items.name}}</h5>
                            <p class="text-muted mb-0">{{items.price}} x {{items.quantity}}</p>
                        </div>
                    </td>
                    <td>{{items.price * items.quantity}}</td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h6 class="m-0">Total:</h6>
                    </td>
                    <td>{{detailsOrder.total }} {{detailsOrder.currency}} </td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>


    <div class="modal-footer d-flex gap-2">
        <button class="btn btn-secondary" (click)="modalRef?.hide()">Fermer</button>
    </div>
</ng-template>

<!-- Order Create Model -->

<div bsModal #showModal="bs-modal" class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Order</h5>
                <button type="button" class="btn-close" id="close-modal" (click)="showModal.hide()"></button>
            </div>
            <div class="modal-body">
<!--                <form (ngSubmit)="saveUser()" [formGroup]="ordersForm" class="needs-validation createorder-form"-->
<!--                      id="createorder-form" novalidate>-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-12">-->
<!--                            <input type="hidden" class="form-control" id="orderid-input">-->
<!--                            <div class="mb-3">-->
<!--                                <label  class="form-label">Customer Name</label>-->
<!--                                <input type="text"  class="form-control" placeholder="Enter name"-->
<!--                                       required formControlName="name"-->
<!--                                       [ngClass]="{ 'is-invalid': submitted && form['name'].errors }"/>-->
<!--                                @if (submitted && form['name'].errors) {-->
<!--                                <div class="invalid-feedback" align="left">-->
<!--                                    @if (form['name'].errors['required']) {-->
<!--                                <div>Please enter a name.</div>-->
<!--                                }-->
<!--                                </div>-->
<!--                                }-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <label  class="form-label">Order Date</label>-->
<!--                                <input bsDatepicker class="form-control" placeholder="yyyy-mm-dd"-->
<!--                                       formControlName="date">-->
<!--                                <div class="invalid-feedback">Please select a date.</div>-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <label  class="form-label">Amount</label>-->
<!--                                <input type="text"  class="form-control"-->
<!--                                       placeholder="Enter amount" required formControlName="total"-->
<!--                                       [ngClass]="{ 'is-invalid': submitted && form['total'].errors }"/>-->
<!--                                @if (submitted && form['total'].errors) {-->
<!--                                <div class="invalid-feedback" align="left">-->
<!--                                    @if (form['total'].errors['required']) {-->
<!--                                <div>Please enter amount.</div>-->
<!--                                }-->
<!--                                </div>-->
<!--                                }-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-6">-->
<!--                            <div class="mb-3">-->
<!--                                <label class="form-label">Payment Status</label>-->

<!--                                <select class="form-control" name="productname-field" id="productname-field"-->
<!--                                        formControlName="status"-->
<!--                                        [ngClass]="{ 'is-invalid': submitted && form['status'].errors }">-->
<!--                                    <option value="Chargeback">Chargeback</option>-->
<!--                                    <option value="Paid" selected>Paid</option>-->
<!--                                    <option value="Refund">Refund</option>-->
<!--                                </select>-->
<!--                                @if (submitted && form['status'].errors) {-->
<!--                                <div class="invalid-feedback" align="left">-->
<!--                                    @if (form['status'].errors['required']) {-->
<!--                                <div>Please select a payment status.</div>-->
<!--                                }-->
<!--                                </div>-->
<!--                                }-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-6">-->
<!--                            <div class="mb-3">-->
<!--                                <label for="paymethod-input" class="form-label">Payment Method</label>-->
<!--                                <select class="form-control" name="payment-method" id="paymethod-input"-->
<!--                                        formControlName="payment"-->
<!--                                        [ngClass]="{ 'is-invalid': submitted && form['payment'].errors }">-->
<!--                                    <option value="Mastercard">Mastercard</option>-->
<!--                                    <option value="Visa">Visa</option>-->
<!--                                    <option value="Paypal">Paypal</option>-->
<!--                                    <option value="COD">COD</option>-->
<!--                                </select>-->
<!--                                @if (submitted && form['payment'].errors) {-->
<!--                                <div class="invalid-feedback" align="left">-->
<!--                                    @if (form['payment'].errors['required']) {-->
<!--                                <div>Please select a payment method.</div>-->
<!--                                }-->
<!--                                </div>-->
<!--                                }-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-12">-->
<!--                            <div class="text-end">-->
<!--                                <button type="button" class="btn btn-outline-secondary me-1" (click)="showModal.hide()">-->
<!--                                    Cancel-->
<!--                                </button>-->
<!--                                <button type="submit" id="addNewOrder-btn" class="btn btn-success">Create</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
            </div>
            <!-- end modal body -->
        </div>
    </div>
</div>
<!--End Modal -->

<!-- Modal -->
<div bsModal #removeItemModal="bs-modal" class="modal fade" id="removeItemModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body px-4 py-5 text-center">
                <button type="button" class="btn-close position-absolute end-0 top-0 m-3"
                        (click)="removeItemModal.hide()"></button>
                <div class="avatar-sm mb-4 mx-auto">
                    <div class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3">
                        <i class="mdi mdi-trash-can-outline"></i>
                    </div>
                </div>
                <p class="text-muted font-size-16 mb-4">Are you Sure You want to Remove this Order ?</p>

                <div class="hstack gap-2 justify-content-center mb-0">
                    <button type="button" class="btn btn-danger" id="remove-item" (click)="deleteOrder()">Remove Now
                    </button>
                    <button type="button" class="btn btn-secondary" id="close-removeOrderModal"
                            (click)="removeItemModal.hide()">Fermer
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end removeItemModal -->