<div class="container-fluid">
    <app-page-title title="Tableau de bord" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-xl-4">
            <div class="card bg-primary-subtle">
                <div>
                    <div class="row">
                        <div class="col-7">
                            <div class="text-primary p-2">
                                <h5 class="text-primary">Bienvenue !</h5>
                                <p>{{currentUser?.data?.firstname + ' ' + currentUser?.data?.lastname}}</p>

                                <ul class="ps-3 mb-0">
                                    <li class="py-1 text-uppercase">
                                        {{currentUser?.data?.role}}
                                    </li>
                                    <li class="py-1">
                                        <a href="mailto:Lawsonaldrich@gmail.com">(0) Mise a jour(s)</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-5 align-self-end">
                            <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">total des commandes</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4>{{currentUserSellerStatistique?.data?.sales_by_product?.length}} <i class="mdi mdi-chevron-up ms-1 text-success"></i></h4>
                                <div class="d-flex">
                                    <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span class="ms-2 text-truncate">Depuis la période précédente</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-18">
                                        <i class="bx bx-archive-in"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Revenue total</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4>{{currentUserSellerStatistique?.data?.total_sales?.total_amount }} XOF <i class="mdi mdi-chevron-up ms-1 text-success"></i></h4>
                                <div class="d-flex">
                                    <span class="badge badge-soft-success font-size-12"> + 0.1% </span> <span class="ms-2 text-truncate">Depuis la période précédente</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- end row -->
        </div>
    </div>



    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">

                        <h4 class="card-title mb-4">Analyse des commandes</h4>
                    </div>
                    @for (item of sassEarning; track $index) {
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="text-muted">
                                <div class="mb-4">
                                    <p>{{item.name}}</p>
                                    <h4>{{ item.amount }}</h4>
                                    <div><span class="badge badge-soft-success font-size-12 me-1"> + {{ item.revenue }}%
                                        </span> {{ item.time }}</div>
                                </div>

                                <div>
                                    <a href="javascript: void(0);" class="btn btn-primary btn-sm">Telecharger tout les rapport<i class="mdi mdi-chevron-right ms-1"></i></a>
                                </div>

                                <div class="mt-4">
                                    <p class="mb-2">{{ item.month }}</p>
                                    <h5>{{ item.previousamount }}</h5>
                                </div>

                            </div>
                        </div>
                    </div>}
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Pays ayant le plus acheter</h4>

                    <div>
                        <apx-chart class="apex-charts" dir="ltr" [series]="salesAnalyticsDonutChart.series" [chart]="salesAnalyticsDonutChart.chart" [colors]="salesAnalyticsDonutChart.colors" [plotOptions]="salesAnalyticsDonutChart.plotOptions" [legend]="salesAnalyticsDonutChart.legend" [labels]="salesAnalyticsDonutChart.labels">
                        </apx-chart>
                    </div>

                    <div class="text-center text-muted">
                        <div class="row">
                            <div class="col-4">
                                <div class="mt-4">
                                    <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-primary me-1"></i>
                                        Benin
                                    </p>
<!--                                    <h5>$ 2,132</h5>-->
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mt-4">
                                    <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-success me-1"></i>
                                        Senegal
                                    </p>
<!--                                    <h5>$ 1,763</h5>-->
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mt-4">
                                    <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-danger me-1"></i>
                                        Benin
                                    </p>
<!--                                    <h5>$ 973</h5>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->


    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Dernière Transaction</h4>
                        <app-transaction [transactions]="transactions"></app-transaction>
                        <!-- end table -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>