<div class="container-fluid">
  <!-- start page title -->
  <app-page-title title="Ajouter un produit" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <div class="d-flex align-items-center justify-content-between">
            <div>
              <h4 class="card-title">Créer un nouveau produit</h4>
              <p class="card-title-desc">Remplissez toutes les informations ci-dessous</p>
            </div>

<!--            <div class="col-sm-8 d-flex align-items-center justify-content-end gap-3">-->
<!--              <div class="text-sm-end">-->
<!--                <button type="button" class="btn btn-success btn-rounded mb-2 me-2"-->
<!--                        (click)="openModal(createnewcategorie)">-->
<!--                  <i class="mdi mdi-plus me-1"></i> Ajouter une nouvelle catégorie-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->


          </div>

          <form [formGroup]="productForm" (ngSubmit)="validSubmit()">
            <div class="row">

              <!-- Première colonne -->
              <div class="col-sm-6">
                <!-- Nom du produit -->
                <div class="mb-3">
                  <label for="productname">Nom du produit</label>
                  <input id="productname" name="productname"  type="text" placeholder="Nom du produit" class="form-control" formControlName="name" [ngClass]="{'is-invalid': submit && form.name.errors}" required>
<!--                  <input id="productname" name="productname" (keypress)="validatePositiveNumber($event)" type="text" placeholder="Nom du produit" class="form-control" formControlName="name" [ngClass]="{'is-invalid': submit && form.name.errors}" required>-->
                  <div *ngIf="submit && form.name.errors" class="invalid-feedback">
                    <span *ngIf="form.name.errors.required">Le nom du produit est requis.</span>
                  </div>
                </div>

                <!-- Nom ou marque du fabricant -->
                <div class="mb-3">
                  <label for="manufacturername">Nom ou marque du fabricant</label>
                  <input id="manufacturername" name="manufacturername" (keypress)="validatePositiveNumber($event)" type="text" placeholder="Nom ou marque du fabricant" class="form-control" formControlName="manufacture_name" [ngClass]="{'is-invalid': submit && form.manufacture_name.errors}">
                  <div *ngIf="submit && form.manufacture_name.errors" class="invalid-feedback">
                    <span *ngIf="form.manufacture_name.errors.required">Le nom du fabricant est requis.</span>
                  </div>
                </div>

                <!-- Catégories -->
                <div class="mb-3">
                  <label class="control-label">Catégories</label>
<!--                  <ng-select formControlName="category" [items]="categories" placeholder="Choissez une catégorie"></ng-select>-->
                  <ng-select formControlName="category" placeholder="Choissez une catégorie">
                    <ng-option *ngFor="let item of categories; let i = index" [id]="'cat_'+i" [value]="item.id">
                      {{ item.name }}
                    </ng-option>
                  </ng-select>


                </div>

                <!-- Prix normal du produit -->
                <div class="mb-3">
                  <label for="prixnormal">Prix normal du produit (En Euros)</label>
                  <input id="prixnormal" name="prixnormal" type="number" (keypress)="validatePositiveNumber($event)" min="0" placeholder="Prix normal du produit" class="form-control" formControlName="price" [ngClass]="{'is-invalid': submit && form.price.errors}">
                  <div *ngIf="submit && form.price.errors" class="invalid-feedback">
                    <span *ngIf="form.price.errors.required">Le prix est requis.</span>
                  </div>
                </div>

                <!-- Prix promotionnel du produit -->
                <div class="mb-3">
                  <label for="prixpromo">Prix promotionnel du produit</label>
                  <input id="prixpromo" name="prixpromo" type="number" (keypress)="validatePositiveNumber($event)" min="0" placeholder="Prix promotionnel du produit" class="form-control" formControlName="promotional_price" [ngClass]="{'is-invalid': submit && form.promotional_price.errors}">
                  <div *ngIf="submit && form.promotional_price.errors" class="invalid-feedback">
                    <span *ngIf="form.promotional_price.errors.required">Le prix promotionnel est requis.</span>
                  </div>
                </div>

                <!-- Quantité disponible -->
                <div class="mb-3">
                  <label for="quantity">Quantité disponible</label>
                  <input id="quantity" name="quantity" type="number" (keypress)="validatePositiveNumber($event)" min="0" placeholder="Quantité disponible" class="form-control" formControlName="quantity" [ngClass]="{'is-invalid': submit && form.quantity.errors}">
                </div>

                <div class="mb-3">
                  <label for="productOptions">Options du produit (Appuyer sur la touche entré apres chaque saisie)</label>
                  <tag-input

                          formControlName="productOptions"
                          [secondaryPlaceholder]="'Options de votre produit'"
                          [ngClass]="{'is-invalid': submit && form.productOptions.errors}">
                  </tag-input>
                </div>

              </div>

              <!-- Deuxième colonne -->
              <div class="col-sm-6">
                <!-- État du produit -->
                <div class="mb-3">
                  <label for="product_state">État du produit</label>
                  <ng-select formControlName="product_state" [items]="product_states" placeholder="Quelle est l'état du produit"></ng-select>
                </div>

                <!-- État du stock du produit -->
                <div class="mb-3">
                  <label for="stock_state">État du stock</label>
                  <ng-select formControlName="stock_state" [items]="stock_states" placeholder="Quelle est le stock du produit"></ng-select>
                </div>

                <!-- Poids du produit -->
                <div class="mb-3">
                  <label for="weight">Poids du produit (kg)</label>
                  <input id="weight" name="weight" type="number"  (keypress)="validatePositiveNumber($event)" min="0" placeholder="Poids du produit" class="form-control" formControlName="weight" [ngClass]="{'is-invalid': submit && form.weight.errors}">
                </div>

                <!-- Taille du produit -->
                <div class="mb-3">
                  <label for="size">Taille du produit (en mètre)</label>
                  <input id="size" name="size" (keypress)="validatePositiveNumber($event)" type="text" placeholder="Taille du produit" class="form-control" formControlName="size" [ngClass]="{'is-invalid': submit && form.size.errors}">
                </div>

                <!-- Dimensions du produit -->
                <div class="mb-3">
                  <label for="dimensions">Dimensions du produit (LxWxH)</label>
                  <input id="dimensions" (keypress)="validatePositiveNumber($event)" name="dimensions" type="text" placeholder="Dimensions du produit" class="form-control" formControlName="dimensions" [ngClass]="{'is-invalid': submit && form.dimensions.errors}">
                </div>

                <!-- Description du produit -->
                <div class="mb-3">
                  <label for="productdesc">Description du produit</label>
<!--                  <textarea class="form-control" id="productdesc" -->
<!--                            placeholder="Description du produit" -->
<!--                            rows="5" formControlName="features">-->
<!--                  </textarea>-->

                  <div class="NgxEditor__Wrapper">
                    <ngx-editor-menu [editor]="editor"  [toolbar]="toolbar"> </ngx-editor-menu>
                    <ngx-editor [editor]="editor" placeholder="Décriver votre produits" formControlName="features"> </ngx-editor>
                  </div>

                </div>


              </div>
            </div>

            <!-- Dropzones pour les images -->
            <div>
              <!-- Dropzone pour l'image principale -->
              <div class="mb-3">
                <h4 class="card-title mb-3">Image principale du produit</h4>
                <dropzone class="dropzone"
                          [config]="mainImageDropzoneConfig"
                          [message]="'Déposez le fichier ici ou cliquez pour télécharger.'"
                          (addedFile)="onMainImageUploadSuccess($event)"
                >

                </dropzone>

                <!-- Affichage de l'image principale -->

                <div *ngIf="mainImagePreview">
                  <h5 class="mt-3">Aperçu de l'image principale</h5>
                  <div class="avatar-sm bg-light rounded">
                    <img class="img-fluid rounded d-block" [src]="mainImagePreview" alt="Image principale" />
                  </div>
                </div>
              </div>

              <br>
              <br>
              <br>
              <!-- Dropzone pour les images variantes -->
              <div>
                <h4 class="card-title mb-3">Images variantes du produit</h4>
                <dropzone class="dropzone"
                          [config]="variantImagesDropzoneConfig"
                          [message]="'Déposez les fichiers ici ou cliquez pour télécharger.'"
                          (addedFile)="onVariantImageUploadSuccess($event)">
                </dropzone>

                <!-- Affichage des images variantes -->
                <div *ngIf="variantImagePreviews.length > 0">
                  <h5 class="mt-3">Aperçu des images variantes</h5>
                  <ul class="list-unstyled mb-0" id="dropzone-preview">
                    <li *ngFor="let image of variantImagePreviews; let i = index" class="mt-2" id="dropzone-preview-list">
                      <div class="border rounded">
                        <div class="d-flex p-2">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar-sm bg-light rounded">
                              <img class="img-fluid rounded d-block" [src]="image" alt="Image variante {{i + 1}}" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <div class="pt-1">
                              <h5 class="fs-md mb-1">Image variante {{i + 1}}</h5>
                            </div>
                          </div>
                          <div class="flex-shrink-0 ms-3">
                            <button (click)="removeVariantImage(i)" class="btn btn-sm btn-danger">Supprimer</button>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>




            <div class="d-flex flex-wrap gap-2 mt-2">
              <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
              <button type="button" class="btn btn-secondary">Annuler</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>


  <!-- end row -->
</div> <!-- container-fluid -->



<!--Create categorie modal-->

<ng-template #createnewcategorie role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Ajout d'une nouvelle catégorie</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modalRef?.hide()"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="saveCategories()" [formGroup]="formDataCategorie">
      <div class="row">
        <div class="col-12">
          <!-- Nom de la catégorie -->
          <div class="mb-3">
            <label class="control-label">Nom de la catégorie</label>
            <input class="form-control" (keyup)="verifyIfCategoryExists($event)" (keypress)="validatePositiveNumber($event)"
                   placeholder="Saisissez le nom de la catégorie." type="text" name="name"
                   autocomplete="off" formControlName="name"
                   [ngClass]="{'is-invalid': submitted && formDataCategorie.get('name')?.errors}" required/>
            <div class="invalid-feedback">
              <span>Le nom de la catégorie est obligatoire.</span>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" id="btn-save-event">
        Sauvegarder
      </button>
    </form>
  </div>
</ng-template>
