<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Product Detail" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row" *ngIf="productDetail">
            <div class="col-xl-7">
              <div class="product-detai-imgs">
                <div class="row">

                  <div class="col-md-2 col-sm-3 col-4">
                    <ngx-slick-carousel dir="ltr" [config]="config"  class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <div *ngFor="let tab of tabs; let i = index" class="nav-link"
                           [class.active]="i === 0"
                           (click)="slidePreview(i, $event)" ngxSlickItem>
                        <img [src]="tab.image" alt="" class="img-fluid mx-auto d-block rounded">
                      </div>
                    </ngx-slick-carousel>
                  </div>

                  <div class="col-md-7 offset-md-1 col-sm-9 col-8">
                    <ngx-slick-carousel dir="ltr" class="tab-content carousel" id="v-pills-tabContent" #slickModal="slick-carousel"
                                        [config]="slideConfig"
                                        (afterChange)="slickChange($event)">
                      <div *ngFor="let tab of tabs; let i = index" ngxSlickItem class="tab-pane fade show" [class.active]="i === 0">
                        <img [src]="tab.image" alt="" class="img-fluid mx-auto">
                      </div>
                    </ngx-slick-carousel>
                    <div class="text-center d-flex align-items-center gap-2 ">

                      <button
                              (click)="removeProductByIf()"

                              type="button"
                              class=" btn btn-danger waves-effect mt-2 waves-light">
                        <i class="bx bx bx-trash me-2"></i>
                        Supprimer le produit
                      </button>
                      <button type="button" (click)="openModal(createnewcategorie)" class=" btn btn-success waves-effect mt-2 waves-light">
                        <i class="bx bx-shopping-bag me-2"></i>
<!--                        <i class="mdi mdi-lead-pencil me-2"></i>-->
                        Modifier  le produit
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-xl-5">
              <div class="mt-4 mt-xl-3">

                <a href="javascript: void(0);" class="text-primary text-capitalize"
                   *ngFor="let items of productDetail.categories">
                    {{ items.name  }}
                </a>
                <h4 class="mt-1 mb-3 text-capitalize">{{ productDetail?.name }}</h4>

                <p class="text-muted float-left me-3">
<!--                  <span *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"-->
<!--                        class="bx bx-star"-->
<!--                        [ngClass]="{'text-warning': i < productDetail?.product_note}">-->
<!--                  </span>-->
                </p>

                <p class="text-muted mb-4">( 4,1 Customers Review )</p>
                <h6 class="text-success text-capitalize" *ngIf="productDetail?.regular_price>0">{{ reusableFunction.calculateDiscountPercentage(productDetail?.regular_price, productDetail?.sale_price) }} % de réduction</h6>
                <h5 class="mb-4">Prix :
                  <span class="text-muted me-2" *ngIf="productDetail?.sale_price">
                    <del>{{ productDetail?.sale_price }} XOF</del> -
                  </span>
                  <b>{{ productDetail?.regular_price }} XOF </b>
                </h5>


<!--                <p class="mb-4" *ngIf="productDetail?.productOptions">-->
<!--                  <span  class="me-4">-->
<!--                    Options :-->
<!--                  <b class="text-uppercase">{{ reusableFunction.formatValuesString(productDetail.productOptions) }} </b>-->
<!--                  </span>-->

<!--                </p>-->





                <p class="text-muted mb-4 text-capitalize" [innerHTML]="productDetail?.summary ">

                </p>

<!--                <div class="row mb-3">-->
<!--                  <div class="col-md-6">-->
<!--                    <div >-->
<!--                      <p class="text-muted">-->
<!--                        <i class="bx bx-caret-right font-size-16 align-middle text-primary mr-1"></i>-->
<!--                        {{ productDetail?.features }}</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-md-6">-->
<!--                    <div *ngFor="let feature of productDetail?.feature">-->
<!--                      <p class="text-muted">-->
<!--                        <i class="bx bx-caret-right font-size-16 align-middle text-primary mr-1"></i>-->
<!--                        {{ feature }}-->
<!--                      </p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
      </div>
    </div>
  </div>
</div>


<!--Modal update-->

<ng-template #createnewcategorie role="document" >
    <div class="modal-header">
      <h5 class="modal-title mt-0">Modifier les information du produit</h5>
      <button type="button" class="btn-close" aria-hidden="true" (click)="modalRef?.hide()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="validSubmit()"  enctype="multipart/form-data">
            <div class="row">
                <!-- Colonne 1 -->
                <div class="col-sm-6">
                    <!-- Nom du produit -->
                    <div class="mb-3">
                        <label for="name">Nom du produit</label>
                        <input id="name" name="name" type="text" placeholder="Nom du produit" class="form-control" formControlName="name" required>
                    </div>

                    <!-- Prix régulier -->
                    <div class="mb-3">
                        <label for="regular_price">Prix régulier (en euros)</label>
                        <input id="regular_price" name="regular_price" type="number" min="0" placeholder="Prix régulier" class="form-control" formControlName="regular_price">
                    </div>

                    <!-- Prix promotionnel -->
                    <div class="mb-3">
                        <label for="sale_price">Prix promotionnel (en euros)</label>
                        <input id="sale_price" name="sale_price" type="number" min="0" placeholder="Prix promotionnel" class="form-control" formControlName="sale_price">
                    </div>

                    <!-- ISBN -->
                    <div class="mb-3">
                        <label for="isbn">ISBN</label>
                        <input id="isbn" name="isbn" type="text" placeholder="ISBN" class="form-control" formControlName="isbn">
                    </div>

                    <!-- Nombre de pages -->
                    <div class="mb-3">
                        <label for="page_num">Nombre de pages</label>
                        <input id="page_num" name="page_num" type="number" min="1" placeholder="Nombre de pages" class="form-control" formControlName="page_num">
                    </div>

                    <!-- Année de publication -->
                    <div class="mb-3">
                        <label for="published_year">Année de publication</label>
                        <input id="published_year" name="published_year" type="number" min="0" placeholder="Année de publication" class="form-control" formControlName="published_year">
                    </div>
                </div>

                <!-- Colonne 2 -->
                <div class="col-sm-6">
                    <!-- Auteur -->
                    <div class="mb-3">
                        <label for="author_name">Auteur</label>
                        <input id="author_name" name="author_name" type="text" placeholder="Auteur" class="form-control"
                               formControlName="author_name">
                    </div>

                    <!-- Âge -->
                    <div class="mb-3">
                        <label for="age">Âge recommandé</label>
                        <input id="age" name="age" type="number" min="0" placeholder="Âge recommandé" class="form-control"
                               formControlName="age">
                    </div>

                    <!-- Catégories -->
                    <div class="mb-3">
                        <label class="control-label">Catégories</label>
                        <!--        [ngClass]="{'is-invalid': submit && form.categories.errors}"          <ng-select formControlName="category" [items]="categories" placeholder="Choissez une catégorie"></ng-select>-->
                        <ng-select
                                formControlName="categories"
                                placeholder="Choisissez une catégorie"
                                [multiple]="true">

                            <!-- Loop over productDetail.categories -->
                            <ng-option
                                    *ngFor="let item of productDetail.categories; let i = index"
                                    [id]="'cat_' + i"
                                    [value]="item.id">
                                {{ item.name }}
                            </ng-option>

                            <!-- Loop over currentUserCategories -->
                            <ng-option
                                    *ngFor="let itemDefaultCategories of currentUserCategories; let i = index"
                                    [id]="'cat_user_' + i"
                                    [value]="itemDefaultCategories.id">
                                {{ itemDefaultCategories.property1 }}
                            </ng-option>
                        </ng-select>

                    </div>

                    <!-- Genre -->
                    <div class="mb-3">
                        <label class="control-label">Genre</label>
                        <!--        [ngClass]="{'is-invalid': submit && form.categories.errors}"          <ng-select formControlName="category" [items]="categories" placeholder="Choissez une catégorie"></ng-select>-->
<!--                        <ng-select formControlName="genre" placeholder="Choissez le genre du livre">-->
<!--                            <ng-option *ngFor="let item of currentUserGenre; let i = index" [id]="'genr_'+i" [value]="item.id">-->
<!--                                {{ item.property1 }}-->
<!--                            </ng-option>-->
<!--                        </ng-select>-->
                    </div>


                    <!-- Téléchargements -->
                    <div class="mb-3">
                        <label for="downloads">Téléchargements</label>
                        <input id="downloads" (change)="onFilePdfChange($event)" name="downloads" type="file" accept="application/pdf" placeholder="Lien de téléchargement" class="form-control" formControlName="downloads">
                    </div>

                    <div class="mb-3">
                        <label >Description du Livre</label>


                        <div class="NgxEditor__Wrapper">
                            <ngx-editor-menu [editor]="editor"  [toolbar]="toolbar"> </ngx-editor-menu>
                            <ngx-editor [editor]="editor" placeholder="Resume ou description de votre livre" formControlName="summary"> </ngx-editor>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dropzone pour les images -->
            <div>
                <!-- Image principale (front_cover) -->
                <div class="mb-3">
                    <h4 class="card-title mb-3">Image principale du produit</h4>
                    <dropzone class="dropzone" [config]="mainImageDropzoneConfig" [message]="'Déposez limage ici ou cliquez pour télécharger.'" (addedFile)="onMainImageUploadSuccess($event)">
                    </dropzone>

                    <div *ngIf="mainImagePreview">
                        <h5 class="mt-3">Aperçu de l'image principale</h5>
                        <img class="img-fluid rounded d-block" [src]="mainImagePreview" alt="Image principale">
                    </div>
                </div>

                <!-- Images secondaires (back_cover) -->
                <div>
                    <h4 class="card-title mb-3">Images secondaires du produit</h4>
                    <dropzone class="dropzone" [config]="variantImagesDropzoneConfig" [message]="'Déposez les images ici ou cliquez pour télécharger.'" (addedFile)="onVariantImageUploadSuccess($event)">
                    </dropzone>

                    <div *ngIf="variantImagePreviews">
                        <h5 class="mt-3">Aperçu des images secondaires</h5>
                        <div  class="mt-2">
                            <!--                                <img class="img-fluid rounded d-block" [src]="image" alt="Image secondaire {{i + 1}}">-->
                            <img class="img-fluid rounded d-block" [src]="variantImagePreviews" alt="Image secondaire">

                            <button (click)="removeVariantImage(0)" class="btn btn-sm btn-danger mt-2">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Boutons de soumission -->
            <div class="d-flex flex-wrap gap-2 mt-2">
                <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                <button type="button" class="btn btn-secondary">Annuler</button>
            </div>
        </form>

    </div>
</ng-template>